body{
  margin:0;
  /*font-family: 'Lato', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Poppins', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  max-width: 1000px;
  margin-left: 1%;
}

h1{
  color: #257AED;
  margin: 0;
  /*text-align: center;*/
  font-size: 50px;
}

.title {
    float: left;
    -webkit-transform: rotate(-90deg) translateX(100%);
    -webkit-transform-origin: 100% 100%;
    margin-left: -22%;
    margin-right: 2%;
    background-color: blue;
    color: white;
    font-size: 24px;
    height: 10%;
    margin-top: 26%;
    width: 27%;
    text-align: center;
}

.linha{
  /* Display: flex -> faz com que os produtos se encaixem horizontalmente na linha*/
  display: flex;
  border-radius: 10px;
  border: 0.5px solid #888282;

}

.linha div .nome{
  font-weight: bold;
  margin:0;
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
}

.linha div .preco{
  margin:0;
  font-size: 16px;
  color: #257aed;
  text-align: center;
}

.linha img{
  width: 168px;
  height: 168px;
}

.linha div{
  padding: 30px;
}

input[type="radio"] {
  margin-top: 104%;
  float: left;
  }


.configure input{
  margin:0;
  padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.m01{
  background-image:url("images/massa_chocolate.png");
  }
.m02{
  background-image:url("images/massa_baunilha.png");
}
.m03{
  background-image:url("images/bolo_morango.png");
}

.r01{
  background-image:url("images/massa_chocolate.png");
  }
.r02{
  background-image:url("images/massa_baunilha.png");
}
.r03{
  background-image:url("images/bolo_morango.png");
}

.c01{
  background-image:url("images/massa_chocolate.png");
  }
.c02{
  background-image:url("images/massa_baunilha.png");
}
.c03{
  background-image:url("images/bolo_morango.png");
}

.radio-selector input:active +.massa-bolo{
  opacity: .9;
}
.radio-selector input:checked +.massa-bolo{
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.massa-bolo{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:200px;
  height:200px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1)  opacity(.7);
  -moz-filter: brightness(1)  opacity(.7);
  filter: brightness(1)  opacity(.7);
}
.massa-bolo:hover{
  -webkit-filter:  opacity(1);
  -moz-filter: opacity(1);
  filter: opacity(1);
}
