body{
  max-width: 1000px;
}

.menu{
  background-color: #FF6A54;
  position: fixed;
  width: 99%;
  height: 59px;
  z-index: +1;
  margin: 0 0 0 0;
  font-weight: bold;
  font-style: italic;
  color: #ffffff;
  text-align: center;
  font-family: 'Baloo', cursive;
  /*font-family: 'Barrio', cursive;
  font-family: 'Baloo', cursive;
  font-family: 'Roboto', sans-serif;*/
  }

.menu img {
  width: 6.5%;
  margin-left: 1%;
  margin-top: 0.5%;
  float: left;
  }
  .menu span.home{
    margin-left: 49%;
    line-height: 59px;
    }
  .menu span.build{
    margin-left: 3%;
    line-height: 59px;
    }
  .menu span.about{
  margin-left: 3%;
  }

.menu span.contact{
  margin-left: 3%;
}

.menu{
  max-width: 1000px;
}
