body{
  margin:0;
  /*font-family: 'Lato', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Poppins', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  max-width: 1000px;
  margin-left: 1%;
}

h1{
  color: #257AED;
  margin: 0;
  /*text-align: center;*/
  font-size: 50px;
}

.title {
    float: left;
    -webkit-transform: rotate(-90deg) translateX(100%);
    -webkit-transform-origin: 100% 100%;
    margin-left: -22%;
    margin-right: 2%;
    background-color: blue;
    color: white;
    font-size: 24px;
    height: 10%;
    margin-top: 26%;
    width: 27%;
    text-align: center;
}

.linha{
  /* Display: flex -> faz com que os produtos se encaixem horizontalmente na linha*/
  display: flex;
  border-radius: 10px;
  border: 0.5px solid #888282;

}

.linha div .nome{
  font-weight: bold;
  margin:0;
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
}

.linha div .preco{
  margin:0;
  font-size: 16px;
  color: #257aed;
  text-align: center;
}

.linha img{
  width: 168px;
  height: 168px;
}

.linha div{
  padding: 30px;
}

input[type="Radio"] {
  margin-top: 104%;
  float: left;
  }
